[submodule "src/thirdparty/glfw"]
	path = src/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
